<table class="table table-hover">
  <tr>
    <th>
	<div class="form-inline" style="display:inline-block; margin:0 0 0 0;">
  	   <div class="input-append">
		<input type="text" class="span12" id="search_query">
  		<button type="submit" class="btn" id="search_btn"><i class="icon-search"></i></button>
	   </div>
	</div>	
    </th>
    <th style="width:10%;">Изменен</th>
    <th style="width:5%;">Размер</th>
    <th style="width:5%;">Действия</th>
  </tr>
<% @nodes.each do |node| %>
  <tr id="node_<%= node.id %>">
    <td><%= image_tag(ext_asset(node.extension), size: "32x32", alt: node.extension)%>
    <%= link_to node.title, gen_show_link(node.extension, node.id) %></td>
    <td><%= time_ago_in_words(node.updated_at) %> назад</td>
    <td><%= format_size(node.size) %></td>
    <td>
	<div class="btn-group">
	    <%= link_to raw('<i class="icon-remove"></i>'), node, method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </div> 
   </td>
  </tr>
<% end %>
</table>
